<div id="header">
    <div fxLayout="row">
      <div fxFlex="38">
          <img src="./assets/images/Mphasis_Logo.png" width="160px" height="50px" routerLink="/">
      </div>
      <div fxFlex>
          <div  class="title">CLOUD RESOURCE PROVISIONING</div>
       </div>
       <div fxFlex="16">
        </div>
      <div fxFlex="5">
            <img  class="user-logo" height="50px" src="./assets/images/user_logo.png" width="50px">
      </div>
      <div fxFlex="9" class="user-name">Hemanth Gode</div>
      <div fxFlex="3" class="activities">
          <mat-icon>
              notifications_none
          </mat-icon>
      </div>
    </div>
</div>